*{margin:0; padding: 0; text-decoration: none; list-style: none; font-family: Apple Chancery cursive;}
a{text-decoration: none;}
body{background-color: #ffe6e6;}
.cabecalho, .logo{width: 100%; float: left; background-color: #ffe6e6;}
#imgLogo{ margin-left: 40%;}
.menu, .subMenu{width: 100%; float: left;}
.menuLi{width: 20%; float: left; color: #ffffff; background-color: #000000; text-align: center; padding-top: 3; padding-bottom: 3;}
.find{width:100% ; float: left; background-color: #ffe6e6;}
#iconePesquisa{width: 3%; float: right; margin-top: 3px;}
#buscaGenerica{width: 20%; float: right; padding: 0.5% 0%; border-radius: 7px; margin-top: 4px; background-color: #ffffcc;}
.destaque{width: 100%; float: left;}
.trDestaque{width: 80%; float: left; margin-left: 10%;}
.fotoDestaque{width: 10%; float: left;}
.imgDestaque{width: 100%; }
.rodape{width: 100%; float: left; background-color: #000000; color: #ffffff; margin-top: 23%;}
.endereco{width: 50%; float: left; text-align: center; padding: 1.5% 0%;}
.contato{width: 50%; float: left; text-align: center; padding: 1.5% 0%;}